@font-face {
    font-family: "RalewayRegular";
    src: url('../fonts/Raleway-VariableFont_wght.woff');
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: "RalewayBold";
    src: url('../fonts/Raleway-VariableFont_wght.woff');
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "RalewayItalic";
    src: url('../fonts/Raleway-Italic-VariableFont_wght.woff');
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: "RalewayItalicBold";
    src: url('../fonts/Raleway-Italic-VariableFont_wght.woff');
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1160px;
    background-color: #782221;
    color: white;
}
header img {
    width: 150px;
    height: 150px;
    margin-top: 40px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px white;
}
header img:hover {
    cursor: zoom-in;
}
header section {
    display: flex;
    width: inherit;
    height: 80px;
    background-color: #2c1d27;
}
header section address {
    display: flex;
    width: inherit;
    justify-content: space-around;
    align-items: center;
}
header section address a {
    display: block;
    color: whitesmoke;
    text-decoration: none;    
}
header section address a:hover {
    text-decoration: underline;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1160px;
    background-color: #782221;
}
#softskill {
width: 340px;
color: whitesmoke;
}
#softskill h3 {
    display: flex;
    block-size: 30px;
    align-items: center;
    background-color: #dbc2a4;
    color: black;
    text-indent: 30px;
}
#softskill p {
    text-indent: 30px;
    margin-left: 20px;
}
#hardskill section {
    display: flex;
    flex-direction: column;
    width: 770px;
    background-color: white;
    border-right: medium solid black;
}
#hardskill section h3 {
    display: flex;
    block-size: 30px;
    align-items: center;
    background-color: #dbc2a4;
    border-left: thick solid #782221;
    margin-left: 40px;
    text-indent: 0.5em;
}
#hardskill section section {
    width: 720px;
    border: none;
}
#hardskill section section:hover {
    border-right: 12px solid #782221;
}
#skills:hover {
    border-right: 12px solid #782221;
}
#skils {
    width: 720px;
}
#hardskill section section h4 {
    margin-left: 40px;
    font-weight: bold;
}
#hardskill section section p {
    margin-left: 40px;
}
#hardskill section section ul {
    margin-left: 40px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1160px;
    background-color: #782221;
    color: whitesmoke;
}
footer address {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer address a {
    width: 40px;
    height: 40px;
}
footer address a:hover {
    opacity: 0.65;
}
* {
    font-family: "RalewayRegular", Arial, Sans-serif;
}
h1 {
    font-family: "Lato", Arial, sans-serif;
    text-transform: uppercase;
}
h2 {
    font-family: "Lato", Arial, sans-serif;
}
h3 {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 800;
}
h4 {
    font-family: "Lato", Arial, sans-serif;
}
